<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="AsDaIS.Properties.Settings.AsDaISConnectionString"
                        connectionString="Database=AsDaIS;Offline=False;Password=c2011a1;Server=25.90.104.59;User=root"
                        providerName="System.Data.CData.MySQL" />
        </connectionStrings>
        <startup>

        </startup>
</configuration>